@model HorseTrack.Models.DBModels.User
<h2>@Model.Name</h2>
<table>
    @foreach (KeyValuePair<String,String> item in Model.Info)
    {
        <tr>
            <td>@item.Key</td>
            <td>@item.Value</td>
        </tr>

    }
</table>

