@using HorseTrack.Models.DBModels
@model List<HorseTrack.Models.DBModels.User>
<div class="row" style="width: 1000px; height: 775px;">
    <form ng-controller="UserController" style="width: 1000px; height: 775px;">
        <div class="col-md-2" style="width:120px">
            <div class="btn-group-vertical btn-group-toggle" style="width: 100px; height: 775px; overflow-x: hidden; overflow-y: scroll;" data-toggle="buttons">
                @foreach (User user in Model)
                {

                    <label class="btn btn-secondary" style="background-color: #eeeeee">
                        <input type="radio" name="user" ng-model="User" ng-value="user_@user.ID" autocomplete="off" /> <text style="white-space:normal">@user.Name</text>
                    </label>
                }
            </div>
        </div>
        <div class="col-md-10" style="height: 775px;">
            <div class="row">
                <div class="col-md-3" style="width: 350px; height: 400px; background-color: aquamarine; display: flex; align-items: center; justify-content: center;">
                    <table style="font-size: larger">
                        <tr><td>{{User.Name}}</td></tr>
                        <tr><td>Phone</td><td>{{User.Phone}}</td></tr>
                        <tr><td>Email</td><td>{{User.Email}}</td></tr>
                        <tr><td>Address</td><td>{{User.Address1}}<br />{{User.Address2}}</td></tr>
                        <tr><td>{{Horse.Name}}</td></tr>
                    </table>
                </div>
                <div class="col-md-5" style="width: 450px; height: 500px; background-color: aqua; display: flex; align-items: center; justify-content: center;"><h4 style="width: 200px; height: 200px;">Billing section coming soon</h4></div>
            </div>
            <div class="row">
                <div class="col-md-3" style="width: 350px; height: 375px; background-color: teal; display: flex; align-items: center; justify-content: center; margin-top: -100px;"><h4 style="width: 200px; height: 200px;">Events section coming soon</h4></div>
                <div class="col-md-3" style="width: 450px; height: 275px; background-color: beige; padding: 0px;">
                    <div class="btn-group-vertical btn-group-toggle" style="width: 400px; height: 275px; margin-left: 50px; overflow-x: hidden; overflow-y: scroll;" data-toggle="buttons">
                        <label class="btn btn-secondary" ng-repeat="(id, name) in User.Horses" style="background-color: #eeeeee">
                            <input type="radio" name="user" ng-model="Horse" ng-value="horse_2" autocomplete="off" /> <text style="white-space:normal">asdf</text>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

